.sectionPrincipal {
    background: linear-gradient(to bottom, #000000, #6e6e6e);
}

.sectionHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border: 2px solid black;
    background-color: #6588b4;
   
    align-items: center;
    color: white;
}

.sectionFooter {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border: 2px solid black;
    background-color: #9489c5;
   
    align-items: center;
    color: white;
    font-size: 20px;
}

.card {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: #f0e68c;
    text-align: center;
}

.sectionBody
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: center;
}

 
.bottonSelection {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor de apuntador */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.bottonSelection:hover {
    background-color: #0056b3; /* Color de fondo azul oscuro al pasar el cursor */
}